@using JustTrialWebApp.ViewModels.Home
@using JustTrialWebApp.Services

@model IndexViewModel

@inject IStringManipulation StringManipolateEngine

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>@Model.Message</h2>
    <p>@Model.Year!</p>
</div>

<ul>
    @foreach(var name in Model.Names)
    {
        <li>@StringManipolateEngine.MakeFirstAndSecondLetterUpper(name)</li>
    }
</ul>

<div class="text-center">
    <h1>@Html.Raw(Model.HtmlGreet)</h1>
</div>

<button class="btn btn-lg btn-primary" onclick="hello()">Click me</button>
<div id="placeholderElement"></div>

<script>
    function hello() { 
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () { 
            if (this.readyState == 4 && this.status == 200) { 
                document.getElementById("placeholderElement").innerHTML = this.responseText;
            }
        }
        xhr.open("GET", "/Home/Index", true)
        xhr.send();
    }
</script>