@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello ASP.NET</h1>
    <p>This is my first Web app with ASP.NET Core</p>
    <p>It's nice to take the challenge</p>
    <p>Please explain more about you</p>
    <ol>
        <li>Your name</li>
        <li>Your hobbies</li>
        <li>Your attitude to life</li>
    </ol>
</div>
