@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>to our <a asp-area="" asp-controller="Home" asp-action="Library">Library Application</a>.</p>
</div>
