
@{
    ViewData["Title"] = "About";
}

<body>
    <h1>About</h1>

    <h2>See what I have posted</h2>
    <button id="btnLoadPosts">Load Post</button>
    <ul id="post"></ul>

    <script src="~/js/site.js"></script>
</body>